# Assignment No 3 & 4

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("netflix_titles.csv")
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

#  Question No 1 Solved

In [5]:
def split_comma(data):
    data = str(data)
    if data == "nan":
        return 0
    return len(data.split(","))

In [6]:
data["num_of_cast"] = data["cast"].apply(split_comma)
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,num_of_cast
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",0
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",19
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,9
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",0
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,8

In [7]:
len(data.columns)

13

#  Question No 2 Solved

In [7]:
data.groupby(["type"])["rating"].sum()

type
Movie      PG-13PGTV-MAPG-13TV-MATV-PGTV-MATV-14TV-PGTV-Y...
TV Show    TV-MATV-MATV-MATV-MATV-MATV-14TV-MATV-MATV-MAT...
Name: rating, dtype: object

In [13]:
data.groupby(["type"])[["duration", "rating"]].sum()

,duration,rating
type,,
Movie,90 min91 min125 min104 min127 min91 min67 min9...,PG-13PGTV-MAPG-13TV-MATV-PGTV-MATV-14TV-PGTV-Y...
TV Show,2 Seasons1 Season1 Season2 Seasons1 Season9 Se...,TV-MATV-MATV-MATV-MATV-MATV-14TV-MATV-MATV-MAT...

In [14]:
data.groupby(["type", "title"])["listed_in"].sum()

type     title
Movie    #Alive                                    Horror Movies, International Movies, Thrillers
         #AnneFrank - Parallel Stories                        Documentaries, International Movies
         #FriendButMarried                          Dramas, International Movies, Romantic Movies
         #FriendButMarried 2                        Dramas, International Movies, Romantic Movies
         #Roxy                                                          Comedies, Romantic Movies
                                                                      ...
TV Show  แผนร้ายนายเจ้าเล่ห์                    International TV Shows, Romantic TV Shows, TV ...
         ​SAINT SEIYA: Knights of the Zodiac                 Anime Series, International TV Shows
         忍者ハットリくん                                                          Anime Series, Kids' TV
         海的儿子                                                   International TV Shows, TV Dramas
         마녀사냥                                   International TV Shows, Korean TV Shows, Stand...
Name: listed_in, Length: 8807, dtype: object

In [10]:
data.groupby(["type"])["description"].sum()

type
Movie      As her father nears the end of his life, filmm...
TV Show    After crossing paths at a party, a Cape Town t...
Name: description, dtype: object

In [15]:
data.groupby(["type", "title"], as_index=False)["release_year"].sum()

         type                                title  release_year
0       Movie                               #Alive          2020
1       Movie        #AnneFrank - Parallel Stories          2019
2       Movie                    #FriendButMarried          2018
3       Movie                  #FriendButMarried 2          2020
4       Movie                                #Roxy          2018
...       ...                                  ...           ...
8802  TV Show                  แผนร้ายนายเจ้าเล่ห์          2016
8803  TV Show  ​SAINT SEIYA: Knights of the Zodiac          2020
8804  TV Show                             忍者ハットリくん          2012
8805  TV Show                                 海的儿子          2016
8806  TV Show                                 마녀사냥          2015

[8807 rows x 3 columns]

In [12]:
data.groupby(["type"])["country"].sum()

type
Movie      United StatesUnited States, Ghana, Burkina Fas...
TV Show    South AfricaIndiaUnited KingdomUnited StatesMe...
Name: country, dtype: object

In [18]:
data.groupby("type")["duration"].value_counts()

type     duration
Movie    90 min        152
         93 min        146
         94 min        146
         97 min        146
         91 min        144
                      ...
TV Show  13 Seasons      3
         11 Seasons      2
         12 Seasons      2
         15 Seasons      2
         17 Seasons      1
Name: duration, Length: 220, dtype: int64

In [19]:
data.groupby("type")["title"].value_counts()

type     title
Movie    #Alive                                 1
         #AnneFrank - Parallel Stories          1
         #FriendButMarried                      1
         #FriendButMarried 2                    1
         #Roxy                                  1
                                               ..
TV Show  แผนร้ายนายเจ้าเล่ห์                    1
         ​SAINT SEIYA: Knights of the Zodiac    1
         忍者ハットリくん                               1
         海的儿子                                   1
         마녀사냥                                   1
Name: title, Length: 8807, dtype: int64